#root {
  height: 100%;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-banner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.App-label {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  font-size: 1.8em;
  margin-left: 0.3em;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-navbar {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1em;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-footer {
  display: flex;
  flex-direction: row;
}

.App-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8em;
  color: #ccc;
  margin: 0.4em;
}

.App-link, a {
  color: #68E4AA;
  text-decoration: none;
}

.App-link.pill, a.pill {
  background-color: #68E4AA;
  color: black;
  padding: 0.5em 0.75em;
  border-radius: 1em;
}


.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {left: 50%; width: 0;z-index:100; opacity: 1;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%; opacity: 0;}
}
