#root {
  height: 100%;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-banner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.App-label {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  font-size: 1.8em;
  margin-left: 0.3em;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-splash {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-footer {
  display: flex;
  flex-direction: row;
}

.App-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8em;
  color: #ccc;
  margin: 0.4em;
}

.App-link, a {
  color: #68E4AA;
  text-decoration: none;
}

.App-link.pill, a.pill {
  background-color: #68E4AA;
  color: black;
  padding: 0.5em 0.75em;
  border-radius: 1em;
}
